<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.superMDguy.storydev" versionCode="01" version="0.1.0">
   <name>Story Developer</name>
   <description>Recursive story development framework.</description>
   <author href="https://github.com/superMDguy">Matthew Dangerfield</author>
</widget>
